* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgb(222, 90, 90), rgb(255, 217, 0));
  margin: 30px;
}
h1 {
  margin-top: 50px;
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  width: 1000px;
  height: 1000px;
  padding: 10px;
}
.container :hover {
  font-size: 73px;
  background-color: rgb(176, 91, 91);
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.ET:hover {
  background-image: url("Ethiopian\ Flag.jpg");
  background-size: cover;
  font-size: 0%;
}
.nm0:hover {
  background-image: url("asset/0.jfif.jpg");
  background-size: cover;
  font-size: 0%;
}
.nm1:hover {
  background-image: url("asset/1_1_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm2:hover {
  background-image: url("asset/2_2_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm3:hover {
  background-image: url("asset//3_3_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm4:hover {
  background-image: url("asset/4_4_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm5:hover {
  background-image: url("asset/5_5_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm6:hover {
  background-image: url("asset/6_6_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm7:hover {
  background-image: url("asset/7_7_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm8:hover {
  background-image: url("asset/8_8_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm9:hover {
  background-image: url("asset/9_9_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm10:hover {
  background-image: url("asset/10_10_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm11:hover {
  background-image: url("asset/11_11_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm12:hover {
  background-image: url("asset/12_12_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm13:hover {
  background-image: url("asset/13_13_11zon.png");
  background-size: cover;
  font-size: 0%;
}
.nm14:hover {
  background-image: url("asset/14_14_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm15:hover {
  background-image: url("asset/15_15_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm16:hover {
  background-image: url("asset/16_16_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm17:hover {
  background-image: url("asset/17_17_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm18:hover {
  background-image: url("asset/18_18_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm19:hover {
  background-image: url("asset/19_19_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm20:hover {
  background-image: url("asset/20_20_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm21:hover {
  background-image: url("asset/21_21_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm22:hover {
  background-image: url("asset/22_22_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm23:hover {
  background-image: url("asset/23_23_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm24:hover {
  background-image: url("asset/24_24_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm25:hover {
  background-image: url("asset/25_25_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm26:hover {
  background-image: url("asset/26_26_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm27:hover {
  background-image: url("asset/27_27_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm28:hover {
  background-image: url("asset/28_28_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm29:hover {
  background-image: url("asset/29_29_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm30:hover {
  background-image: url("asset/30_30_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm31:hover {
  background-image: url("asset/31_1_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm32:hover {
  background-image: url("asset/32_2_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm33:hover {
  background-image: url("asset/33_3_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm34:hover {
  background-image: url("asset/34_4_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm35:hover {
  background-image: url("asset/35_5_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm36:hover {
  background-image: url("asset/36_6_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm37:hover {
  background-image: url("asset/37_7_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm38:hover {
  background-image: url("asset/38_8_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm39:hover {
  background-image: url("asset/39_9_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm40:hover {
  background-image: url("asset/40_10_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm41:hover {
  background-image: url("asset/41_11_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm42:hover {
  background-image: url("asset/42_12_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm43:hover {
  background-image: url("asset/43_13_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm44:hover {
  background-image: url("asset/44_14_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm45:hover {
  background-image: url("asset/45_15_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm46:hover {
  background-image: url("asset/46_16_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm47:hover {
  background-image: url("asset/47_17_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm48:hover {
  background-image: url("asset/48_18_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm49:hover {
  background-image: url("asset/49_19_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm50:hover {
  background-image: url("asset/50.jfif");
  background-size: cover;
  font-size: 0%;
}
.nm51:hover {
  background-image: url("asset/51_1_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm52:hover {
  background-image: url("asset/52_2_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm53:hover {
  background-image: url("asset/53_3_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm54:hover {
  background-image: url("asset/54_4_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm55:hover {
  background-image: url("asset/55_5_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm56:hover {
  background-image: url("asset/56_6_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm57:hover {
  background-image: url("asset/57_7_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm58:hover {
  background-image: url("asset/58_8_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm59:hover {
  background-image: url("asset/59_9_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm60:hover {
  background-image: url("asset/60_10_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm61:hover {
  background-image: url("asset/61_11_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm62:hover {
  background-image: url("asset/62_12_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm63:hover {
  background-image: url("asset/63_13_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm64:hover {
  background-image: url("asset/64_14_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm65:hover {
  background-image: url("asset/65_15_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm66:hover {
  background-image: url("asset/66_16_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm67:hover {
  background-image: url("asset/67_17_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm68:hover {
  background-image: url("asset/68_18_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm69:hover {
  background-image: url("asset/69_19_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm70:hover {
  background-image: url("asset/70_20_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm71:hover {
  background-image: url("asset/71_1_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm72:hover {
  background-image: url("asset/72_2_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm73:hover {
  background-image: url("asset/73_3_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm74:hover {
  background-image: url("asset/74_4_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm75:hover {
  background-image: url("asset/75_5_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm76:hover {
  background-image: url("asset/76_6_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm77:hover {
  background-image: url("asset/77_7_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm78:hover {
  background-image: url("asset/78_8_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm79:hover {
  background-image: url("asset/79_9_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm80:hover {
  background-image: url("asset/80_10_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm81:hover {
  background-image: url("asset/81_11_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm82:hover {
  background-image: url("asset/82_12_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm83:hover {
  background-image: url("asset/83_13_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm84:hover {
  background-image: url("asset/84_14_11zon.png");
  background-size: cover;
  font-size: 0%;
}
.nm85:hover {
  background-image: url("asset/85_15_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm30:hover {
  background-image: url("asset/30_30_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm86:hover {
  background-image: url("asset/86_16_11zon.png");
  background-size: cover;
  font-size: 0%;
}
.nm87:hover {
  background-image: url("asset/87_17_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm88:hover {
  background-image: url("asset/88_18_11zon.png");
  background-size: cover;
  font-size: 0%;
}
.nm89:hover {
  background-image: url("asset/89_19_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm90:hover {
  background-image: url("asset/90_20_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm91:hover {
  background-image: url("asset/91_21_11zon.png");
  background-size: cover;
  font-size: 0%;
}
.nm30:hover {
  background-image: url("asset/30_30_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm92:hover {
  background-image: url("asset/92_22_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm93:hover {
  background-image: url("asset/93_23_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm30:hover {
  background-image: url("asset/30_30_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm30:hover {
  background-image: url("asset/30_30_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm94:hover {
  background-image: url("asset/94_24_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm95:hover {
  background-image: url("asset/95_25_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm96:hover {
  background-image: url("asset/96_26_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm97:hover {
  background-image: url("asset/97_27_11zon.png");
  background-size: cover;
  font-size: 0%;
}
.nm98:hover {
  background-image: url("asset/98_28_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
.nm99:hover {
  background-image: url("asset/99_29_11zon.png");
  background-size: cover;
  font-size: 0%;
}
.nm100:hover {
  background-image: url("asset/100_30_11zon.jpeg");
  background-size: cover;
  font-size: 0%;
}
footer {
  display: flex;
  height: 100px;
  color: white;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.abc {
  justify-content: space-evenly;
}
.pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}

.myNumbers {
  font-size: 50px;
  background-color: blue;
  color: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border: 10px solid white;
  border-radius: 10px;
}
@media (max-width: 320px) {
  .container {
    width: 150px;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin: 50px;
  }
}
@media (min-width: 375px) {
  .container {
    width: 300px;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
  }
}
@media (min-width: 425px) {
  .container {
    width: 300px;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 620px;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    margin: 5px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    margin: 5px;
    gap: 80px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    margin: 5px;
    gap: 80px;
  }
}
